# Toggle Track Dataset

- Este dataset lo consigo a través de mis datos personales, descargados el 29 de Septiembre de 2021
- Con la intención de aplicar lo aprendido a lo largo de la asignatura en un proyecto con datos reales

# Importando los módulos necesarios

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import os

# Exploración de los ficheros que tenemos en el dataset

Para poder cargar los datos del dataset, primero tenemos que mirar qué ficheros nos parecen interesantes y que ficheros parecen que no sirven para nada. Mostramos la carpeta en la que tenemos los datos:

In [17]:
base_path = "./data"
!ls $base_path

alerts.json	saved_reports.json  workspace_settings.json
clients.json	tags.json	    workspace_users.json
projects.json	team.json
projects_users	user_groups.json

Muchos de estos archivos `.json` son archivos sin información, o con información que no nos interesa. Así que pasamos a mostrar el contenido de estos archivos para hacer un primer filtrado:

In [27]:
def display_contents_of_dir(base_path: str):

    # Iteramos sobre los archivos en la carpeta de datos
    for file_name in os.listdir(base_path):
        # Tomamos el path al archivo
        file_path = os.path.join(base_path, file_name)

        # Mostramos los contenidos de un fichero regular
        if os.path.isfile(file_path):
            # Abrimos el archivo en modo lectura
            with open(file_path, "r") as fileobj:
                print(f"Contenidos de {file_path}")
                print("=" * 80)
                for line in fileobj:
                    print(line)

        # Mostramos que nos hemos encontrado con un directorio
        elif os.path.isdir(file_path):
            print(f"{file_path} es un directorio")
            print("=" * 80)

        # Mostramos la situacion inusual
        else:
            print(f"{file_path} no es reconocido ni como fichero ni como directorio")
            print("=" * 80)

        print("\n\n")

# Usamos la funcion definida para mostrar los contenidos de nuestro directorio
display_contents_of_dir(base_path = base_path)

./data/projects_users es un directorio
================================================================================



Contenidos de ./data/tags.json
================================================================================
[{"id":7133372,"name":"Becas","workspace_id":3407776},{"id":9843772,"name":"Gatod","workspace_id":3407776},{"id":9843773,"name":"Gatos","workspace_id":3407776},{"id":7435821,"name":"health","workspace_id":3407776},{"id":6042494,"name":"Informática","workspace_id":3407776},{"id":6080522,"name":"Inglés","workspace_id":3407776},{"id":6042492,"name":"Matemáticas","workspace_id":3407776},{"id":7061832,"name":"Notion","workspace_id":3407776},{"id":10000590,"name":"TFG","workspace_id":3407776},{"id":7394594,"name":"Twitch","workspace_id":3407776},{"id":7394600,"name":"Youtube","workspace_id":3407776}]



Contenidos de ./data/user_groups.json
================================================================================
null



Contenidos de ./data/workspace_users.json
================================================================================
[{"active":true,"admin":true,"email":"sergiquijano@gmail.com","group_ids":null,"id":4973755,"inactive":false,"labour_cost":null,"name":"Sergiquijano","owner":true,"rate":null,"timezone":"Europe/Madrid","uid":4817439,"wid":3407776}]



Contenidos de ./data/projects.json
================================================================================
[{"active":true,"actual_hours":2,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#e36a00","currency":null,"estimated_hours":null,"id":152338858,"is_private":true,"name":"App Librea","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":48,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#9e5bd9","currency":null,"estimated_hours":null,"id":151456915,"is_private":false,"name":"Autoescuela","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":51,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#9e5bd9","currency":null,"estimated_hours":null,"id":166083644,"is_private":true,"name":"Bullet Journal","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":41,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#d94182","currency":null,"estimated_hours":null,"id":151850791,"is_private":true,"name":"LinuxCloud","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":66,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#566614","currency":null,"estimated_hours":null,"id":156960844,"is_private":true,"name":"Personal","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":4,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#06a893","currency":null,"estimated_hours":null,"id":154848503,"is_private":true,"name":"Productivity System","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":68,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#465bb3","currency":null,"estimated_hours":null,"id":156728898,"is_private":true,"name":"Profesional","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":1,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#d94182","currency":null,"estimated_hours":null,"id":162839455,"is_private":true,"name":"Profesor Clases Linux + Programación","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":15,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#991102","currency":null,"estimated_hours":null,"id":167064038,"is_private":true,"name":"Programming Projects","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":106,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#e36a00","currency":null,"estimated_hours":null,"id":151981904,"is_private":false,"name":"Tareas del hogar","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":0,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#d92b2b","currency":null,"estimated_hours":null,"id":162703865,"is_private":true,"name":"Trabajo Verano Programación Concurrente","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":2767,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#c7af14","currency":null,"estimated_hours":null,"id":151411847,"is_private":false,"name":"Universidad","rate":null,"template":null,"wid":0,"workspace_id":3407776},{"active":true,"actual_hours":0,"auto_estimates":null,"billable":null,"cid":null,"client_id":null,"color":"#991102","currency":null,"estimated_hours":null,"id":152311168,"is_private":true,"name":"Youtube","rate":null,"template":null,"wid":0,"workspace_id":3407776}]



Contenidos de ./data/workspace_settings.json
================================================================================
{"initial_pricing_plan":0}



Contenidos de ./data/team.json
================================================================================
[{"email":"sergiquijano@gmail.com","fullname":"Sergiquijano","id":4817439,"inactive":false,"is_active":true,"is_admin":true}]



Contenidos de ./data/alerts.json
================================================================================
null



Contenidos de ./data/clients.json
================================================================================
null



Contenidos de ./data/saved_reports.json
================================================================================
null

Con esto vemos que los archivos con los que nos interesa trabajar son:

- `projects.json`
- `tags.json`

Además tenemos un directorio llamado `projects_users`. Mostramos sus contenidos del mismo modo para saber si nos interesa trabajar con sus archivos:

In [29]:
display_contents_of_dir(os.path.join(base_path, "projects_users"))

Contenidos de ./data/projects_users/162839455.json
================================================================================
[{"gid":null,"group_id":null,"id":93227939,"labour_cost":null,"manager":true,"project_id":162839455,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/152338858.json
================================================================================
[{"gid":null,"group_id":null,"id":74127377,"labour_cost":null,"manager":true,"project_id":152338858,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/152311168.json
================================================================================
[{"gid":null,"group_id":null,"id":74078088,"labour_cost":null,"manager":true,"project_id":152311168,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/166083644.json
================================================================================
[{"gid":null,"group_id":null,"id":99393239,"labour_cost":null,"manager":true,"project_id":166083644,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/154848503.json
================================================================================
[{"gid":null,"group_id":null,"id":79185109,"labour_cost":null,"manager":true,"project_id":154848503,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/167064038.json
================================================================================
[{"gid":null,"group_id":null,"id":101096909,"labour_cost":null,"manager":true,"project_id":167064038,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/156960844.json
================================================================================
[{"gid":null,"group_id":null,"id":83375299,"labour_cost":null,"manager":true,"project_id":156960844,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/162703865.json
================================================================================
[{"gid":null,"group_id":null,"id":93003529,"labour_cost":null,"manager":true,"project_id":162703865,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/151981904.json
================================================================================
null



Contenidos de ./data/projects_users/151411847.json
================================================================================
null



Contenidos de ./data/projects_users/151456915.json
================================================================================
null



Contenidos de ./data/projects_users/151850791.json
================================================================================
[{"gid":null,"group_id":null,"id":73043767,"labour_cost":null,"manager":true,"project_id":151850791,"rate":null,"user_id":4817439,"workspace_id":3407776}]



Contenidos de ./data/projects_users/156728898.json
================================================================================
[{"gid":null,"group_id":null,"id":82994291,"labour_cost":null,"manager":true,"project_id":156728898,"rate":null,"user_id":4817439,"workspace_id":3407776}]

Con esto podemos pensar que no nos interesa ningún fichero de los de la carpeta que hemos explorado. Así que acabamos con los dos ficheros que mencionábamos anteriormente

# Cargando el dataset

In [30]:
# Paths de los dos archivos que nos interesan
projects_path = "projects.json"
tags_path = "tags.json"

# Cargamos los dos archivos en dos dataframes separados
projects_df = pd.read_json(os.path.join(base_path, projects_path))
tags_df = pd.read_json(os.path.join(base_path, tags_path))

# Exploración básica del dataset

Mostramos las dimensiones de nuestro dataset:

print(f"Dimensiones del dataset \"projects\": {projects_df.shape}")
print(f"Dimensiones del dataset \"tags\": {tags_df.shape}")

Como tenemos dataframes muy pequeños, podemos mostrar los contenidos de estos dataframes sin demasiados problemas:

In [36]:
projects_df

,active,actual_hours,auto_estimates,billable,cid,client_id,color,currency,estimated_hours,id,is_private,name,rate,template,wid,workspace_id
0,True,2,NaN,NaN,NaN,NaN,#e36a00,NaN,NaN,152338858,True,App Librea,NaN,NaN,0,3407776
1,True,48,NaN,NaN,NaN,NaN,#9e5bd9,NaN,NaN,151456915,False,Autoescuela,NaN,NaN,0,3407776
2,True,51,NaN,NaN,NaN,NaN,#9e5bd9,NaN,NaN,166083644,True,Bullet Journal,NaN,NaN,0,3407776
3,True,41,NaN,NaN,NaN,NaN,#d94182,NaN,NaN,151850791,True,LinuxCloud,NaN,NaN,0,3407776
4,True,66,NaN,NaN,NaN,NaN,#566614,NaN,NaN,156960844,True,Personal,NaN,NaN,0,3407776
5,True,4,NaN,NaN,NaN,NaN,#06a893,NaN,NaN,154848503,True,Productivity System,NaN,NaN,0,3407776
6,True,68,NaN,NaN,NaN,NaN,#465bb3,NaN,NaN,156728898,True,Profesional,NaN,NaN,0,3407776
7,True,1,NaN,NaN,NaN,NaN,#d94182,NaN,NaN,162839455,True,Profesor Clases Linux + Programación,NaN,NaN,0,3407776
8,True,15,NaN,NaN,NaN,NaN,#991102,NaN,NaN,167064038,True,Programming Projects,NaN,NaN,0,3407776
9,True,106,NaN,NaN,NaN,NaN,#e36a00,NaN,NaN,151981904,False,Tareas del hogar,NaN,NaN,0,3407776
10,True,0,NaN,NaN,NaN,NaN,#d92b2b,NaN,NaN,162703865,True,Trabajo Verano Programación Concurrente,NaN,NaN,0,3407776
11,True,2767,NaN,NaN,NaN,NaN,#c7af14,NaN,NaN,151411847,False,Universidad,NaN,NaN,0,3407776
12,True,0,NaN,NaN,NaN,NaN,#991102,NaN,NaN,152311168,True,Youtube,NaN,NaN,0,3407776

In [37]:
tags_df

          id         name  workspace_id
0    7133372        Becas       3407776
1    9843772        Gatod       3407776
2    9843773        Gatos       3407776
3    7435821       health       3407776
4    6042494  Informática       3407776
5    6080522       Inglés       3407776
6    6042492  Matemáticas       3407776
7    7061832       Notion       3407776
8   10000590          TFG       3407776
9    7394594       Twitch       3407776
10   7394600      Youtube       3407776

Lamentablemente, el dataset no nos da toda la información detallada que cabría esperar. Por ejemplo:

- Desglose semanal de las horas trabajadas
- Desglose diario de las horas trabajadas
- Todos los *Time Entries* de trabajo con los que trabaja `Toggle`. Estos supuestos bloques podrían venir dados por:
    - Nombre del bloque
    - Proyecto al que pertenece
    - Etiqueta asignada al bloque
    - *Timestap* de inicio y de final

Con esta información, solo podemos hacer una exploración de datos muy breve y poco interesante.

# Algunas visualizaciones